.title-card {
    background-color: #ffffff;
    border: solid 1px #000000;
    border-radius: 5px;
    padding: 8px 8px 24px;
    margin: 1px 0px;
}

.title-card a {
    display: block;
}

.title-card-link {
    text-decoration: none;
    &:visited {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }
}

.title-card-text {
    font-size: 30px;
}
